* {
    box-sizing: border-box;
  }
html, body, div, span, h1, p, a, ul, li{
                 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    font-family: Arial;    
    background-color: #f5d7c1;
}
header {
	background-color: #a38067;
}
section{
	text-align: center;
}
footer{
	font-size: 14px; 
	text-align: center;
}
#h1 {
    font-size: 45px;
	margin-top: 10px;
	text-align: center;
}
nav {
	float: left;
    background-color: #a38067;
	margin-top: 17px;
}
nav a {
    display: block;
    color: #ffffff;
    padding: 10px 25px;
}
aside {
	float:right; 
    margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}